.agent-header {
    width: 100%;
    height: 250px;
}

.agent-logo-container {
    position: relative;
    width: 100%;
    height: 140px;
}

.agent-circle {
    position: absolute;
    height: 90px;
    width: 90px;
    left: calc(50% - 45px);
    bottom: -25px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px rgba(255,255,255,1);
}

.agent-title {
    margin-top: 35px;
    text-align: center;

    .agent-badge {
        font-size: 16px;
    }

    .agent-name {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
    }

    .agent-posting {
        text-align: left;
        font-size: 10px;
        margin-left: 20px;
    }
}

.agent-tabs {
    margin: 32px 20px 10px;
    height: 58px;
    display: flex;
    /*align-items: center;
    justify-content: center;*/

    .agent-tab {
        color: #44B2CC;
        font-weight: bold;
        flex: 1;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;
        line-height: 58px;
        border: 2px solid #44B2CC;
        font-size: 12px;

        &.middle {
            border-left: none;
            border-right: none;
        }

        &.selected {
            background-color: #44B2CC;
            color: white;
        }
    }
}

.agent-tab-view {
    margin: 10px 20px;

    &.about {
        padding: 20px 10px 20px 20px;
        font-size: 12px;
        border: 1px solid #d1d1d1;

        .row {
            margin-bottom: 5px;
        }

        .gray {
            color: #d1d1d1;
        }

        .black {
            word-break: break-all;
        }
    }

    &.items {
        display: none;
        margin-bottom: 10px;

        .overview {
            height: 320px;
            margin-bottom: 20px;

            .left {
                background-color: #006979;
                padding-top: 20px;
                height: 100%;
            }

            .right {
                padding: 0;
                height: 100%;
                text-align: center;
            }

            .onefourth {
                background-color: pink;
                height: 25%;
                padding: 12.5% 0;
                font-size: 11px;
                color: white;

                &.condo {
                    background-color: #ff5d84;
                }

                &.apartment {
                    background-color: #cbff79;
                }

                &.townhouse {
                    background-color: #93bdd6;
                }
                
                &.house {
                    background-color: #1799ed;
                }
            }
        }

        .listing-header {
            padding: 20px;
            margin-bottom: 20px;
            background-color: #44b2cc;

            .list-item {
                display: inline-block;
                

                .list-button {
                    height: 20px;
                    border: none;
                    background-color: #44b2cc;
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: bold;
                    margin-right: 5px;
                    outline: none;

                    &.selected {
                        border: 2px solid #cbff79;
                        color: white;
                    }
                }

                .list-select {
                    height: 15px;
                    width: 70px;
                    font-size: 9px;
                }
            }
        }
    }

    &.review { 
        display: none;

        .agent-comments {
            border: 1px solid #44B2CC;
            background-color: #c7e0e7;
        }
    }
}

.agent-contact {
    width: 100%;
    background-color: #D2E1E6;
    padding: 20px 20px 20px 20px;
    height: 446px;
    margin-bottom: 50px;

    p {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
    }

    form {
        font-size: 12px;

        label {
            margin-right: 10px;
            margin-bottom: 10px;
            color: #F7FEFE;
            width: 20%;
        }

        input {
            width: calc(80% - 10px);
            margin-bottom: 10px;
            padding: 3px 10px 3px 10px;
        }

        textarea {
            padding: 10px 10px 10px 10px;
            resize: none;
            width: 100%;
            height: 100px;
            margin-bottom: 10px;
        }

        .news {
            width: auto;
            margin-right: 5px;
        }
    }

    .submit {
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        width: 100%;
        background-color: #598A91;
        border-color: #598A91;
        color: #284955;
        height: 50px;
        margin-top: 10px;
        border-radius: 10px;

        i {
            margin-right: 10px;
            color: yellow;
        }
    }
}

/****** Style Star Rating Widget *****/

.rating,
.rating-passive,
.rating-blue,
.rating-blue-passive { 
  border: none;
  float: left;
}

.rating > input,
.rating-passive > input,
.rating-blue > input,
.rating-blue-passive > input { 
    display: none; 
} 

.rating > label:before,
.rating-passive > label:before,
.rating-blue > label:before,
.rating-blue-passive > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before,
.rating-passive > .half:before,
.rating-blue > .half:before,
.rating-blue-passive > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label,
.rating-passive > label,
.rating-blue > label,
.rating-blue-passive > label { 
  font-size: 14px;
  color: #666e71; 
  float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating-passive > input:checked ~ label { color: #FFD700;  }

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.rating-blue > input:checked ~ label, /* show gold star when clicked */
.rating-blue:not(:checked) > label:hover, /* hover current star */
.rating-blue:not(:checked) > label:hover ~ label { color: #8cd0de;  } /* hover previous stars in list */

.rating-blue-passive > input:checked ~ label { color: #8cd0de;  }

.rating-blue > input:checked + label:hover, /* hover current star when changing rating */
.rating-blue > input:checked ~ label:hover,
.rating-blue > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating-blue > input:checked ~ label:hover ~ label { color: #8cd0de;  }