.listing-highlights {
    display: flex;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.listing-highlight {
    flex: 1;
    text-align: center;
    font-size: 8px;

    img {
        width: 40%;
    }
    
    p {
        text-transform: uppercase;
        color: #008cb2;
        font-weight: bold;
    }

    h4 {
        font-size: 10px;
    }
}

.condo-header {
    width: 100%;
    height: 30px;
    font-size: 11px;
    color: white;
    background-color: #0d8ea3;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 26px;

    &.condo-comments {
        background-color: white;
        border: 2px solid #0d8ea3;
        color: #0d8ea3;
    }
}

.facility-line {
    width: calc(100% - 10px);
    margin: 5px;
    font-size: 10px;
    overflow: hidden;

    .facility {
        width: 25%;
        height: 91px;
        float: left;
        text-align: center;
        margin-bottom: 5px;

        img {
            width: 80%;
        }
    }
}

.mortgage-options {
    margin: 10px 40px;

    p {
        font-weight: bold;
        margin-top: 10px;
    }

    .mortgage-label {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .mortgage-total {
        float: right;
        padding: 3px 20px;
        background-color: black;
        color: white;
        margin-top: 6px;
    }
}

.mortgage-result {
    position: relative;
    padding: 20px 50px;
}

.details {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 10px;
}

.video-container {
	position: relative;
	padding-top: 5px;
	height: 160px;
	overflow: hidden;
    margin-bottom: 10px;

    iframe {
        width: 100%;
    }
}

.condo-comments-view {
    display: none;
    border: 2px solid #0d8ea3;
    border-top: none;
}