.agent-search-verified {
    background-color: #5392aa;
    width: 55px;
    height: 14px;
    color: white;
    font-weight: bold;
    font-size:10px;
    float: right;
    margin-top: 4px;
    font-size: 9px;
    padding-top: 1px;

    .glyphicon {
        margin: 0 3px;
    }
}