.menu-container {
    
    .dropped {
        list-style: none;
        width: 250px;
        background-color: #FFF;
        padding: 0;
        float: right;
        transition: height 0.25s ease;
        
        li {
            padding: 7px;
            padding-top: 0;
            font-family: Couture;
            color: #558a9a;
            overflow: hidden;
            .btn-menu {
                background-color: #b3c6cc;
                color: #558a9c;
                border-radius: 0;
                text-transform: uppercase;
                font-family: Couture;
                font-weight: lighter;
                padding: 14px;
            }
            &.active, &:hover {
                .btn-menu {
                    background-color: #32aacf;
                    color: #FFF;

                }
            }
            &.lang {
                position: relative;
                height: 50px;
                margin: 7px;
                .lang-flag {
                    width: 30px;
                    height: 30px;
                    border-radius: 50% 50% 50% 0;
                    background: #b3c6cc;
                    position: absolute;
                    transform: rotate(-45deg);
                    margin: -20px 0 0 -20px;
                    filter: grayscale(100%);
                    top: 25px;
                    
                    &:after {
                        content: '';
                        width: 22px;
                        height: 22px;
                        margin: 4px 0 0 4px;
                        position: absolute;
                        border-radius: 50%;
                        box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
                        transform: rotate(45deg);
                    }

                    &.active {
                        filter: none;
                        background: #32aacf;
                    }
                }
                .zh {
                    left: 32px;
                    &:after {
                        background: url('/img/china-circle-32.png');
                        background-size: cover;
                    }
                }
                .ja {
                    left: 77px;
                    &:after {
                        background: url('/img/japan-circle-32.png');
                        background-size: cover;
                    }
                }
                .ko {
                    left: 122px;
                    &:after {
                        background: url('/img/korea-circle-32.png');
                        background-size: cover;
                    }
                }
                .en {
                    left: 167px;
                    &:after {
                        background: url('/img/england-circle-32.png');
                        background-size: cover;
                    }
                }
                .th {
                    left: 212px;
                    &:after {
                        background: url('/img/thailand-circle-32.png');
                        background-size: cover;
                    }
                }
            }
            /*
            &.lang {
                font-family: 'Noto Sans', sans-serif;
                span {
                    padding: 9px 15px 0;
                    display: inline-block;
                    color: #043e47;
                }
                .btn-lang {
                    border-radius: 0;
                    background-color: #FFF;
                    font-family: 'Noto Sans', sans-serif;
                    color: #999;
                }
            }*/
        }
    }
}